/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i'); */

:root {
  --light: #eee;
  --light-darker: #ccc;
  --dark: #111;
  --dark-lighter: #333;
  --dark-even-lighter: #777;
  --accent: #7083ff;
  --accent-darker: #3b468c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  background: #fff;
  min-height: 100vh;
  line-height: 1.5;
}

textarea,
select,
button,
input {
  color: var(--text-color);
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background: var(--light);
  border: 1px solid var(--light-darker);
  border-radius: 4px;
  box-shadow: none;

  &:hover {
    border: 1px solid var(--accent);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

pre {
  display: block;
  padding: 1em;
}

code {
  font-family: monospace;
  white-space: pre-wrap;
}

pre > code {
  padding: 0;
  white-space: pre;
  overflow-x: auto;
}

.layout {
  display: flex;
  justify-items: stretch;
}

.main {
  padding: 2em;
  width: 100%;
}

.nav {
  background: var(--light);
  height: 100%;
  line-height: 1.5;
  padding: 1em;
  list-style-type: none;
}

.active {
  color: var(--accent) !important;
}

.body {
  border-left: 2px solid var(--light-darker);
  padding-left: 1em;
  overflow: hidden;

  & img {
    max-height: 15em;
  }

  & blockquote {
    color: #0c0;
    margin: 0;
    padding: 0 1em;
    border-left: 2px solid var(--light-darker);
  }
}

.board .controls {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: flex-end;
  column-gap: 1em;
}

.thread_op {
  padding: 0.5em;
}

.threadlist {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;

  & a {
    color: inherit;
    text-decoration: none;
  }

  & .thread_op {
    max-width: 30em;
    margin: 1em;

    & .body {
      max-height: 10em;
      overflow: hidden;
    }
  }
}

.header,
.footer {
  font-size: smaller;
}

.header a {
  text-decoration: none;
  color: var(--accent);
}

.nav li a {
  text-decoration: none;
  color: var(--dark);
}

.nav li a:hover {
  color: var(--accent-darker);
}

.header .subject {
  font-weight: bold;
}

.header a.date {
  color: var(--dark);
  border-bottom: 1px var(--light-darker) dashed;
  cursor: help;
}

.thread_comment {
  margin: 20px;
}

.footer {
  font-style: italic;
  color: var(--dark-even-lighter);
}

.new_thread {
  display: grid;
  column-gap: 0.5em;
  grid-template-columns: repeat(4, 25%);
  grid-template-areas:
    'subject author preview preview'
    'editor editor preview preview'
    'submit . preview preview';

  & input[placeholder='subject'] {
    grid-area: subject;
    width: inherit;
  }

  & input[placeholder='author'] {
    grid-area: author;
    width: inherit;
  }

  & .editor {
    grid-area: editor;
    width: 100%;
  }

  & input[type='submit'] {
    grid-area: submit;
    width: 10em;
  }

  & .md_preview {
    width: 48%;
    margin: 0;
    grid-area: preview;
  }

  & textarea {
    width: 100%;
    grid-area: editor;
  }
}

.thread {
  max-width: 48em;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .new_thread {
    width: 100%;
    display: grid;
    column-gap: 0.5em;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
      'subject author'
      'editor editor'
      'preview preview'
      'submit .';
  }
}
